<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Shop Floor UAT</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIMainStoryboardFile~ipad</key>
	<string>iPadMain</string>
	<key>CFBundleName</key>
	<string>Electrolux.ShopFloor.iOS</string>
	<key>UIAppFonts</key>
	<array>
		<string>ElectroluxSans_1_Thin.otf</string>
		<string>ElectroluxSans_2_Light.otf</string>
		<string>ElectroluxSans_3_Regular.otf</string>
		<string>ElectroluxSans_4_Semibold.otf</string>
		<string>ElectroluxSans_5_Bold.otf</string>
		<string>ElectroluxSans_Oblique_1_Thin.otf</string>
		<string>ElectroluxSans_Oblique_2_Light.otf</string>
		<string>ElectroluxSans_Oblique_3_Regular.otf</string>
		<string>ElectroluxSans_Oblique_4_Semibold.otf</string>
		<string>ElectroluxSans_Oblique_5_Bold.otf</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>iPadMain</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIStatusBarHidden~ipad</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>wsportal-r.electrolux.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.1</string>
			</dict>
			<key>extravisitreport.electrolux.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.1</string>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Pictures</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photo Library Access Warning</string>
	<key>XSAppIconAssets</key>
	<string>Resources/Media.xcassets/AppIcons.appiconset</string>
	<key>CFBundleIdentifier</key>
	<string>it.extra.Electrolux.ShopFloor.iOS.UAT</string>
	<key>CFBundleVersion</key>
	<string>1.81</string>
	<key>CFBundleShortVersionString</key>
	<string>1.81</string>
</dict>
</plist>
